{
    
    background-image:linear-gradient(140deg,rgb(61, 53, 53) ,gray,rgb(223, 223, 74));
}

.nav{

    justify-content: center;
    
    border-style: solid;

}

a{
    border-style: solid black;
    border-radius: 5px;
    background-color:blue; 
    text-decoration: none;
    color: white;
    font-size: 3rem;
    justify-items: center;
    text-align: center;


}

a:hover{
    background-color: teal;
}